@using System.Web.Optimization;
@Styles.Render("~/Contents/Effects")
<h2>Κλάμα χαράς</h2>

<p>
    Το κλάμα χαράς ή δάκρυα χαράς προέρχονται όταν ο άνθρωπος βιώνει πολύ θετικά συναισθήματα
    και αντί να δείξει ότι του αρέσουν, δίχνει ότι δεν αντέχει άλλο, στεναχωριέται, κλαίει
    χωρίς λόγο, δεν μπορεί να αναπνεύσει λόγω των ισχυρών λυγμών, τσιρίζει όσο δυνατά και ψηλά
    μπορεί, η έκφραση του προσώπου δείχνει χειρότερη από κηδεία ενός κοντινού συγγενή. Επίσης από
    σωματική κίνηση ο κλαψοχαρούμενος δεν μπορεί να κινηθεί, δηλαδή τα χέρια και τα πόδια του
    κινούνται σαν να έχει επιληψία. Μπορεί επίσης να επιτεθεί σε αυτόν που του προκάλεσε τόση χαρά,
    μέσω ενός πάρα πολύ σφιχαγκάλιασμα, όρμηξη στον 'θύτη' όπως κάνουν στα παδόσφαιρα, τσιμπολόγημα
    μάγουλου και πολλά άλλα αρνητικά θέματα.
</p>
<p>
    Σύμφωνα με το πανεπιστήμιο Yale και την ψυχολόγο Aragon, αυτή πιστεύει ακράδαντα ότι οι τέτοιες
    εκφράσεις της χαράς είναι φυσιολογικές. Ο λόγος που αυτός είναι, είναι επειδή όταν ο άνθρωπος
    βιώνει τόση χαρά, ο εγκέφαλος ενεργοποιεί στο συμπαθητικό μία λειτουργία εξισορρόπησης όποιοδήποτε
    έντονου συναισθήματος, μεταξύ της χαράς. Αυτή η λειτουργία εξισσορόπησης των έντωνων συναισθημάτων
    γίνεται με διάφορους τρόπους. Οι πιο κοινοί είναι το κλάμα, και η τσιρίδα, ακολουθούν μετά οι
    βίαιες κινήσεις όπως σφιχτααγκάλιασμα, τσιμπολόγημα μάγουλου, ξυλοκόπημα, επιληψία, λυποθυμία.
    Επίσης αναφέρει ότι η υπερβολική χαρά μπορεί να φέρει λυποθυμία ή θάνατο. Για παράδειγμα το 2018
    μία κυρία όταν έμαθε ότι ο φίλος της έγινε καλά, πέθανε στην κυριολεξία από την χαρά της. Επίσης
    σε μία συναυλία ενός γνωστού καλλιτέχνη την δεκαετία του 90s αρκετές νεαρές που ζητοκραύγαζαν
    επειδή τους άρεσε το τραγούδι τους λυποθύμησαν από την χαρά τους.
</p>
<p>
    Εγώ από την άλλη πλευρά πιστεύω ότι δεν είναι σωστό να εξισσοροπήσουμε την υπερχαρά με αρνητικό
    συναίσθημα. Κατά την άποψη μου, όποιος κάνει το άγριο κλάμα χαράς είναι αχάρηστος, δεν του αρέσει
    να είναι χαρούμενος και πολύ χαζός. Εάν κάποια φορά νοιώσω πολύ χαρά για κάτι το οποίο το
    επιθυμούσα όπως λάιτ ποινικός κώδικας, μείωση εγκληματικότητας, εύρεση δουλειάς, βελτίωση της
    υγείας μου, εύρεση φίλο/φίλους, έρωτα και άλλα θα είμαι χαμεγελαστός, ήρεμος και θα προσπαθήσω να
    μην κλάψω. Εάν δεν μπορώ να κλάψω, δηλαδή θα βγαίνουν δάκρυα στα μάτια μου, εγώ θα χαμογελάω πάλι,
    δεν θα τσιρίζω καθόλου, θα γελάω και μέσα από το γέλιο πρότων θα καταφέρω να αποβάλλω το περίσσιο
    κλάμα για να διατηρήσω την χαρά περισσότερο και δεύτερον για να αστιευτώ ότι μου φαίνεται
    παράξενο το κλάμα με χαμόγελό γιατί είμαι ο μόνος που απολαμβάνω το λαίτ κλάμα, δηλαδή τα δάκρυα
    που κυλούν στα χαμογελαστό πρόσωπο. Επίσης εάν η χαρά προέρχεται από κάποιον που με βοήθησε πάρα
    πόλύ, εγώ θα τον αγκαλιάσω πάρα πόλύ μαλακά για να μην τον πονέσω. Επίσης θα ήθελα να φωτογραφηθώ
    με τα δάκρυα χαράς για να δείξω ότι μπορούμε να κλαίμε από χαρά με χαμόγελο και ήρεμοι, σαν τα
    κοινούμενα σχέδια και τα emoji.
</p>